<%- include('include/head.ejs')%>
<!-- <p>form for adding the post will come here</p> -->
<div class="container jumbotron">

  <form action="/postingPost" method="post" class="form-group">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">


    <label for="heading">Heading</label>
    <input type="text" id="heading" name="heading" placeholder="Heading for post..">

    <label for="subject">Posts</label>
    <textarea id="subject" name="postContent" placeholder="Write something.." style="height:200px"></textarea>

    <button type="submit" value="Publish" class="btn btn-outline-success">Publish</button>
</div>

</form>
</div>
</body>

</html>