<%- include('include/head.ejs')%>
    <!-- <p>form for adding the post will come here</p> -->
    <form action="/postingPost" method="post">
        <div class="row">
          <div class="col-25">
            <label for="name">Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="name" name="name" placeholder="Your name..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="heading">Heading</label>
          </div>
          <div class="col-75">
            <input type="text" id="heading" name="heading" placeholder="Heading for post..">
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-25">
            <label for="country">Country</label>
          </div>
          <div class="col-75">
            <select id="country" name="country">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
          </div>
        </div> -->
        <div class="row">
          <div class="col-25">
            <label for="subject">Posts</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="postContent" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
            
          <input type="submit" value="Publish">
        </div>
        </form>
</body>

</html>