<br>
<br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<div class="card">
    <center>

        <div class="card-header text-muted">
            Ripudaman Singh (Learning)
        </div>
        <div class="card-body">
            <small class="text-muted card-title">This is a simple Blogging site made by Ripudaman Singh. Where CRUD
                operations on the posts are Handled. This is made only for the Learning purpose.</small>
            <!-- <p class="card-text text-muted">Link of my Blog is given Below.</p>
            <a href="https://ripu502.blogspot.com" target="_blank"
                class="btn btn-outline-primary">ripu502.blogspot.com</a> -->
        </div>
    </center>
</div>