<br>
<br>
<div class="card">
    <center>

        <div class="card-header text-muted">
            Ripudaman Singh (Learning)
        </div>
        <div class="card-body">
            <small class="text-muted card-title">This is a simple Blogging site made by Ripudaman Singh. Where CRUD
                operations on the posts are Handled. This is made only for the Learning purpose. DON'T Judge IT.</small>
            <p class="card-text text-muted">Link of my Blog is given Below.</p>
            <a href="https://ripu502.blogspot.com" target="_blank"
                class="btn btn-outline-primary">ripu502.blogspot.com</a>
        </div>
    </center>
</div>