<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title%> </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">WELCOME TO MY BLOG</a>
        <form class="form-inline">

            <% if (!login) { %>
            <!-- <a href="/signup" class='btn btn-outline-primary mr-sm-2'>SignUp</a> -->
            <%} else { %>
            <a href="/logout" class='btn btn-outline-primary mr-sm-2'>Logout</a>
            <a href="/" class='btn btn-outline-primary form-control mr-sm-2'>Home</a>
            <a href="/addPost" class='btn btn-outline-primary my-2 my-sm-0'>Add-Posts</a>
            <%}%>
            

        </form>
    </nav>
    <br>